.card {
    background-color: #b2d9df; 
    border: 2px solid #6cf073; 
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    min-height: 220px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card-content {
    text-align: center;
  }
  
  .card h3 {
    font-size: 1.5em;
    color: #5f1f14; 
    margin-bottom: 10px;
  }
  
  .card h4 {
    font-size: 1.1em;
    color: #4b0082; 
    margin-bottom: 14px;
  }
  
  .card select {
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #47ff66;
    width: 100%;
    font-size: 1em;
    background-color: #fff5ee;
    color: #333;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
  }
  
  
  .card select option {
    padding: 10px;
    font-size: 0.9em;
  }
  
  
  .card select:hover, .card select:focus {
    background-color: #9cb3d4;
    border-color: #ff6347;
  }
  
  
  .card h3, .card h4 {
    border-bottom: 2px solid #47d4ff;
    display: inline-block;
    padding-bottom: 4px;
  }

  button{ 
    padding: 10px;
    margin: 20px;
    min-width: 100px;
    border-radius: 5px;
  }
 